
@{
    ViewBag.Title = "_PruebaPartialViewSimple";
}

<div class="card col-md-4">
    <img src="https://media.giphy.com/media/PKl9JTqnoiKtO/giphy.gif" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card generada desde una vista parcial</h5>
        <p class="card-text">Esta card esta en una vista parcial simple que no necesita de metodos en un controlador para ser llamada y generada</p>
        
    </div>
</div>
